.home-page
  %h1 My photos
  .photo-section
    - @photos.each do |p|
      .photo-item{:class => "item-#{p.id}" } 
        .caption=p.caption
        .photo
          %img{:src => p.data.url}
        .comment-section
          .comment-item
            = render "comment_item", :comments => p.comments.order(created_at: :desc)
          .comment-post
            = simple_form_for(current_user.comments.new, html: { class: 'form-horizontal' }, :url => comments_path, remote: true) do |form|
              = form.hidden_field :photo_id, value: p.id
              = form.hidden_field :user_id, value: current_user.id
              .message-wrapper
                = form.input_field :message, :placeholder => "", label: false
              .add-wrapper
                = form.submit "Add"
              .clearfix


