.crop-photo-page
  %h1 Crop my photos
  = simple_form_for(photo, :url => photo_crop_path(photo.id), html: { class: 'form-horizontal', :id => 'photo_uploader' }) do |form|
    = form.hidden_field :user_id, value: current_user.id
    .cropbox-wrapper
      = form.cropbox :data
    .crop-btn-wrapper
      = form.submit "Crop", class: "crop-btn btn btn-default"
      = link_to "Skip", root_path, class: "btn btn-default"